body {
    padding: 50px;
}

nav {
    display: block;
}

.BMZ-heading {
    color: darkred;
    padding-bottom: 50px;
}

.BMZ-heading .info {
    color: black;
}

ul .nav {
    padding-top: 20px;
}


.form-group {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 20%;
}

form {
    padding-left: 10px;
}

.copyright {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
}

.laenderliste {
    padding-top: 40px;
}

